
/*
  File: src/components/SearchTracksCont/SearchTracksCont.module.css
  Description:
  CSS module for styling the SearchTracksCont component.
  Defines the layout and appearance of the search results container, including its dimensions, background color, and the styling of the heading.
*/

.searchResultsContainer {
    width: 550px;
    height: 100%;
    background-color: rgba(53, 3, 53, 0.137);
    margin-right: 75px;
}
  
.searchResultsContainerH2 {
    font-size: 45px;
    margin-left: 20px;
    margin-top: 20px;
    color: rgb(255, 245, 185) ;
}
